name: Upload Latest Build

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  upload-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Find latest build version
        id: version
        run: |
          VERSION=$(ls builds | sort -V | tail -n 1)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: Windows-${{ steps.version.outputs.version }}
          path: builds/${{ steps.version.outputs.version }}/Windows
